// DIMENSIONS
//----------------------------------------------------------------
$layout-max-width: 56rem;
$layout-border-radius: 0.5rem;
$aside-min-width: 17rem;

// COLORS
//----------------------------------------------------------------
$transparent: "transparent";
$black: rgb(46, 46, 46);
$white: #fff;
$color-gray: #a0aec0;
$color-light-gray: lighten($color-gray, 50%);
$color-dark-gray: darken($color-gray, 35%);
$color-bg-sidebar: #1c3441;
$color-bg-content: darken($white, 4%);

// FONTS
//----------------------------------------------------------------
:root {
  --minFontSize: 0.8rem;
  --maxFontSize: 1.1rem;
  --scalerFont: 1.1vw;
}
$font-size-content: clamp(var(--minFontSize), var(--scalerFont), var(--maxFontSize));

// SPACING
//----------------------------------------------------------------
:root {
  --minGap: 1rem;
  --gap: 1.2rem;
  --maxGap: 1.5rem;
}
$padding-content: clamp(var(--minGap), var(--gap), var(--maxGap));
// $padding-content: 20px;

// ANIMATIONS ED_TEAM
//----------------------------------------------------------------
$EDanimatehelpers: false
